{% extends "base.html" %}

{% block title %}Об институте{% endblock %}

{% block content %}
    <table width="85%" border="0" align="center">

          <tr>
            <td align="center" valign="top"> <div align="justify"><strong>РУП
                &quot;Центральный научно-исследовательский институт комплексного
                использования водных ресурсов&quot;, создан в соответствии с Постановлением
                Совета Министров СССР от 22 апреля №425 &quot;О мерах по упорячению
                использования и усилению охраны водных ресурсов СССР&quot; и распоряжением
                Президиума Академии Наук БССР от 14 февраля 1961 года №10.</strong></div></td>
          </tr>
          <tr>
            <td align="center" valign="top"> <div align="center"><strong>ЗА ВРЕМЯ
                СВОЕГО СУЩЕСТВОВАНИЯ ИНСТИТУТ НАХОДИЛСЯ В ПОДЧИНЕНИИ РАЗЛИЧНЫХ
                МИНИСТЕРСТВ И ВЕДОМСТВ</strong> <br>
              </div></td>
          </tr>
          <tr>
            <td align="center" valign="top"> <ul>
                <li>
                  <div align="left">Академии наук БССР (1961 - 1963 гг.)</div>
                </li>
                <li>
                  <div align="left"> Госплана БССР (1963 - 1966 гг.)</div>
                </li>
                <li>
                  <div align="left"> Минводхоза СССР (1966 - 1989 гг.)</div>
                </li>
                <li>
                  <div align="left"> Управления межрегионального распределения
                    и комплексного использования водных <br>
                    ресурсов Комиссии Совета Министров СССР по продовольствию
                    и закупкам (1989 - 1991 гг.)</div>
                </li>
                <li>
                  <div align="left"> Государственного комитета по экологии Республики
                    Беларусь (1991 - 1994 гг.)</div>
                </li>
                <li>
                  <div align="left"> Министерства природных ресурсов и охраны
                    окружающей среды <br>
                    Республики Беларусь (с 1994 г.)</div>
                </li>
              </ul></td>
          </tr>
          <tr>
            <td height="90" align="center" valign="top"> <div align="justify">
                <p>С 1966 года ЦНИИКИВР получил широкую известность в СССР и за
                  его пределами. <br>
                  Тематика исследований имела общесоюзный характер, функционировали
                  филиалы в Украине, Молдавии и Российской Федерации; широкий
                  размах получило международное сотрудничество. Институт вел большую
                  работу по подготовке научных кадров через аспирантуру, функционировал
                  Совет по защите кандидатских и докторских диссертаций.<br>
                </p>
              </div></td>
          </tr>
          <tr>
            <td height="10" align="center" valign="top" bgcolor="#EDF0F1"><strong>Основные
              достижения ЦНИИКИВР с 1961 по 1991 гг.</strong></td>
          </tr>
          <tr>
            <td align="center" valign="top"> <ul>
                <li>
                  <div align="justify">Создание научных основ Единой государственной
                    системы учета использования вод.</div>
                </li>
                <li>
                  <div align="justify"> Создание научных основ ведения Государственного
                    водного кадастра по разделу использования вод.</div>
                </li>
                <li>
                  <div align="justify"> Разработка и внедрение новых методов искусственного
                    пополнения запасов подземных вод и рекомендаций по проектированию
                    и эксплуатации водозаборов.</div>
                </li>
                <li>
                  <div align="justify"> Разработка научных основ составления водохозяйственных
                    балансов. </div>
                </li>
                <li>
                  <div align="justify">Автоматизация моделирования водохозяйственных
                    систем бассейнов рек при составлении схем использования и
                    охраны водных ресурсов.</div>
                </li>
                <li>
                  <div align="justify">Разработка технологий и средств автоматического
                    мониторинга водной среды с применением космических средств
                    передачи информации. </div>
                </li>
                <li>
                  <div align="justify">Разработка методов моделирования и эффективных
                    схем противопаводковой защиты.</div>
                </li>
                <li>
                  <div align="justify">Экономическая оценка использования водных
                    ресурсов, обоснование платы за водопользование.</div>
                </li>
                <li>
                  <div align="justify">Оценка загрязнения рек поверхностным стоком.</div>
                </li>
                <li>
                  <div align="justify">Разработка и внедрение эффективных технологий
                    очистки сточных вод на промышленных предприятиях.</div>
                </li>
                <li>
                  <div align="justify">Разработка научных основ теории взаимосвязи
                    поверхностных и подземных вод.</div>
                </li>
                <li>
                  <div align="justify">Создание эффективных конструкций водорегулирующих
                    сооружений.</div>
                </li>
              </ul></td>
          </tr>
          <tr>
            <td align="center" valign="top"> <div align="center"><strong>С 1994
                ГОДА ИНСТИТУТ ПЕРЕХОДИТ В ВЕДЕНИЕ МИНИСТЕРСТВА ПРИРОДНЫХ РЕСУРСОВ
                И ОХРАНЫ ОКРУЖАЮЩЕЙ СРЕДЫ РЕСПУБЛИКИ БЕЛАРУСЬ. </strong> </div>
              <p align="center"><strong>НАЧИНАЕТСЯ НОВЫЙ ЭТАП РАЗВИТИЯ ИНСТИТУТА
                - ГИДРОЭКОЛОГИЧЕСКИЙ</strong><br>
              </p></td>
          </tr>
          <tr>

          </tr>
          <tr bordercolor="#CCCCCC">
            <td height="22" align="center" valign="top" bgcolor="#EDF0F1"><strong><font color="black" size="-1">НАИБОЛЕЕ
              ЗНАЧИМЫЕ НАУЧНЫЕ ДОСТИЖЕНИЯ ЭТОГО ПЕРИОДА:</font></strong></td>
          </tr>
          <tr>
            <td height="10" align="center" valign="top"> <ul>
                <li>
                  <div align="justify">Оценка качества речных и подземных вод
                    по основным бассейнам рек Республики Беларусь и составление
                    гидрохимической карты загрязнения отдельных участков основных
                    рек. </div>
                </li>
                <li>
                  <div align="justify"> Установление экологически необходимых
                    и свободных для использования объемов водных ресурсов в трансграничных
                    створах главных рек Беларуси.</div>
                </li>
                <li>
                  <div align="justify">Установление влияния хозяйственной деятельности
                    на изменение параметров паводков и половодий в бассейне р.
                    Припять.</div>
                </li>
                <li>
                  <div align="justify">Объединение трех автоматизированных систем
                    кадастра использования водных ресурсов (АИС «Статотчетность
                    водопользователей», АИС «Гидрохимия», АИС «Разрешение») в
                    единую интегрированную автоматизированную систему.</div>
                </li>
                <li>
                  <div align="justify">Научное обоснование и разработка рекомендаций
                    по экологическому лимитированию добычи нерудных материалов
                    на реках.</div>
                </li>
                <li>
                  <div align="justify">Разработка экономичных гидравлических авторегуляторов
                    уровней воды.</div>
                </li>
              </ul></td>
          </tr>
          <tr>

          <tr>
            <td height="20" align="center" valign="top"> <div align="center"><strong>Открытая
                русловая площадка института с моделью бассейна р.Припять</strong><br>
              </div></td>
          </tr>
          <tr>
            <td align="center" valign="top"> <ul>
                <li>
                  <div align="justify">Создание образца автоматической гидрохимической
                    станции (АГС) мониторинга водной среды. </div>
                </li>
                <li>
                  <div align="justify">Доведение до серийного выпуска измерительного
                    прибора микрокомпьютерного расходомера-скоростемера (МКРС).
                  </div>
                </li>
               <li>
                  <div align="justify">Разработка новой технологии реабилитации
                    земель, загрязненных радионуклидами. </div>
                </li>
                <li>
                  <div align="justify">Разработка структуры экологической сертификации
                    систем управления окружающей средой (СУОС), методических и
                    руководящих документов.</div>
                </li>
                <li>
                  <div align="justify">Разработка методики расчета количества
                    и режима прохождения нефтепродуктов через трансграничные створы
                    водотока при аварийных ситуациях.</div>
                </li>
                <li>
                  <div align="justify">Выполнение эколого-экономической оценки
                    гидроэнергетического потенциала основных рек Беларуси.</div>
                </li>
                <li>
                  <div align="justify"> Разработка технологических нормативов
                    водопотребления и водоотведения для предприятий различных
                    отраслей промышленности.</div>
                </li>
                <li>
                  <div align="justify">Разработка научно-методических основ комплексной
                    оценки рекреационного природного потенциала водных объектов.</div>
                </li>
                <li>
                  <div align="justify">Изучение структуры воды и разработка технологий
                    получения новых видов напитков и настоев, основанных на использовании
                    природных минералов.</div>
                </li>
                <li>
                  <div align="justify">Научное и методическое обеспечение, разработка
                    схем и проектов водоохранных зон и прибрежных полос водотоков
                    и водоемов, зон санитарной охраны поверхностных и подземных
                    водозаборов. </div>
                </li>
              </ul></td>
          </tr>
        </table>
{% endblock %}