{% extends "base.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div id="heading-breadcrumbs">
    </div>

    <div id="adressRow" class="row">
        <div class="col-md-12" align="center">
            <h3> Адрес и телефоны </h3>
            <h4> Республиканского унитарного предприятия "Центральный научно-исследовательский институт комплексного
                использования водных ресурсов "</h4>


            <div class="col-md-4">
                <div class="box-simple">
                    <p></p>
                    <div class="icon">
                        <i class="fa fa-envelope-o fa-1x"></i>
                    </div>
                    <h3> Адрес для корреспонденций: </h3>
                    <h3> 220086 г. Минск ул. Славинского 1 корп.2 </h3>

                </div>

            </div>

            <div class="col-md-4">
                <div class="box-simple">
                    <p></p>
                    <div class="icon">
                        <i class="fa fa-phone fa-1x"></i>
                    </div>
                    <h3> Телефон приемной: +375 17 272-05-23 </h3>

                </div>


            </div>


            <div class="col-md-4">
                <div class="box-simple">
                    <p></p>
                    <div class="icon">
                        <i class="fa fa-fax fa-1x"></i>
                    </div>
                    <h3> Факс: +375 17 272-27-34 </h3>

                </div>


            </div>


        </div>

    </div>

    <div id="heading-breadcrumbs">
    </div>
{% endblock %}