{% extends "base.html" %}

{% block title %}НОВОСТИ{% endblock %}

{% block content %}
    {% for newsItem in news %}
        <div class="row">
            <div class="col-sm-4 grid-margin">
                <div class="rotate-img">
                    <img
                            src="/media/{{ newsItem.NewsPhoto }}"
                            alt="banner"
                            class="img-fluid"
                    />
                </div>
            </div>
            <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                    <a href="/news/{{ newsItem.NewsID }}"
                       target="_blank">{{ newsItem.NewsTitle }}</a>

                </h2>
                <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">{{ newsItem.NewsDate }}</span>
                </p>
                <p class="fs-15">
                    {{ newsItem.NewsContentShort }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}