{% extends "base.html" %}

{% block title %}Информация{% endblock %}

{% block content %}

    <h1> Отдел гидрологии и водоохранных территорий</h1>


    <h3> Основные направления деятельности: </h3>


    <ul>
        <li> Гидрологическое обоснование размещения водохозяйственных объектов, проведение гидрологических
            расчетов.
        </li>
        <li> Разработка и корректировка проектов водоохранных зон и прибрежных полос водных объектов.</li>
        <li> Оценка воздействия на окружающую среду (ОВОС) инженерных мероприятий на водных объектах.</li>
        <li> Разработка рекомендаций по сохранению и улучшению экологического состояния (статуса) водных
            объектов с учетом действующего законодательства.
        </li>
        <li> Обоснование возможности пользования водными объектами для различных нужд в соответствии с
            действующим законодательством.
        </li>
        <li> Комплексная оценка рекреационного природного потенциала водных объектов.</li>
        <li> Гидравлическое моделирование гидротехнических сооружений и участков рек.</li>
        <li> Разработка методов защиты территорий от наводнений и совершенствование технологии проектирования
            защитных систем.
        </li>

    </ul>


    <h3>Услуги: </h3>

    <ol>
        <strong>
            <li> Разработка и корректировка проектов водоохранных зон и прибрежных полос водных объектов</li>
        </strong>
        <blockquote>
            <p> Проведение работ по обоснованию размеров границ водоохранных зон и прибрежных полос водных
                объектов с учетом требований действующего законодательства.</p>
        </blockquote>
        <strong>
            <li> Оценка воздействия на окружающую среду (ОВОС) инженерных мероприятий на водных объектах.</li>
        </strong>
        <blockquote>
            <p> Оценка возможного воздействия реализации планируемой деятельности на компоненты окружающей
                среды, и предполагаемых мер по предотвращению, минимизации или компенсации вредного воздействия
                на окружающую среду. Разработка характеристик основных источников и возможных видов воздействия
                на окружающую среду. Оценка характеристик основных источников и возможных видов воздействия на
                окружающую среду, прогноза и оценки изменения состояния окружающей среды и
                социально-экономических условий. </p>
        </blockquote>
        <strong>
            <li> Гидрологическое обоснование размещения водохозяйственных объектов, проведение гидрологических
                расчетов.
            </li>
        </strong>
        <blockquote>
            <p> Гидрологические исследования и расчеты для обоснования проектных решений в бассейне водного
                объекта на основании экспедиционных исследований и гидрологических расчетов. </p>
        </blockquote>
        <strong>
            <li> Разработка рекомендаций по сохранению и улучшению экологического состояния (статуса) водных
                объектов с учетом действующего законодательства.
            </li>
        </strong>
        <blockquote>
            <p>Проведение обследований и разработка рекомендаций для снижения поступления загрязняющих веществ в
                водные объекты и предотвращения негативного воздействия на окружающую среду
                водопользователей. </p>
        </blockquote>

    </ol>




    <p> Заказчики: УП «Белкоммунпроект»; Государственное производственное объединение «Горремавтодор
        Мингорисполкома»; Государственное производственное объединение «Белоруснефть»; местные исполнительные и
        распорядительные органы; Государственное учреждение «Республиканский центр по гидрометеорологии,
        контролю радиоактивного загрязнения и мониторингу окружающей среды» и проч. </p>
    <ul class="panel panel-default sidebar-menu">

        <div class="panel-heading">
            <p>
            </p>

            <h3 class="panel-title">Контактная информация</h3>
        </div>

        <ul class="nav nav-pills nav-stacked">
            <li> Начальник отдела</li>
            <li><strong> Гертман Любовь Николаевна </strong></li>
            <li>

                <i class="fa fa-phone fa-1x"> + 375 17 357-93-45 </i>
            </li>
            <li>

                <i class="fa fa-mobile fa-1x"> + 375 44 551-01-31 </i>

            </li>


            <li>

                <i class="fa fa-fax fa-1x"> + 375 17 272-27-34 </i>

            </li>
            <li>

                <i class="fa fa-envelope-o fa-1x"> lubov.hertman@cricuwr.by </i>

            </li>
            <p></p>

        </ul>
    </ul>

{% endblock %}