{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-sm-4 grid-margin">
            <div class="rotate-img">
                <img
                         src="/media/{{ news.NewsPhoto }}"
                        alt="banner"
                        class="img-fluid"
                />
            </div>
        </div>
        <div class="col-sm-8 grid-margin">
            <h2 class="font-weight-600 mb-2">
                {{ news.NewsTitle }}
            </h2>
            <p class="fs-13 text-muted mb-0">
                <span class="mr-2">{{ news.NewsDate }} </span>
            </p>
            <p class="fs-15">
                {{ news.NewsContent }}
            </p>
        </div>
    </div>



{% endblock %}